@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1;
}

h1{
    font-size: 36px;
    font-weight: bold;
    margin: 40px 0 60px 0;
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#sResults{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 15px;
    color: #333;
}
 


#sButton{
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}


.sResults{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.sResult{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;

}

.sResult img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.sResult:hover img{
    opacity: 0.8;

}

.sResult a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#showMoreButton{
    background-color: #138065;

    font-size: 18px;
    border: none;
    margin: 0 auto;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: none;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    /* display: none; */
}

@media screen and (max-width:768px){

    .sResults{
        padding: 20px;
    }
    .sResult{
        width: 45%;
    }
}

@media screen and (max-width:480px){
    .sResults{
        padding: 20px;
    }
    .sResult{
        width: 80%;
        margin-left: 40px;
    }
}